.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo {
  justify-content: center;
  animation: App-logo-animation 7s  ;
  /* animation: 3s linear 1s infinite alternate slidein ; */
}

.Catch-phrase{
color:rgb(174, 174, 174);
font-size: 4rem;
margin: 0 0 0 0 ;
font-family:"sans-serif";

}
.Productions {
  color:rgb(141, 195, 216);
  margin:0px 0px -2.5rem 0px;
  font-family: "Times New Roman", Times, serif;
  font-size: 10rem;
  font-weight: bold;
}
@keyframes App-logo-animation {
  from {
      opacity: 0; 
  }
  to {
    opacity: 1;
  }
}
.App-header {
  background-color: #1a84a1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #3a798a;
}

.App-header{
  /* padding: 10px; */
}


#star-six {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  position: relative;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
 
