<IfModule mod_rewrite.c>

  RewriteEngine On

 RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]

  
</IfModule>

# Server can play audio
# MP3 audio
AddType audio/mpeg3 .mp3
AddType audio/mp3 .mp3
AddType audio/x-mpeg3 .mp3

# Ogg Vorbis audio
AddType audio/ogg .ogg
AddType audio/ogg .oga

# Server can play video
# Ogg Theora video
AddType video/ogg .ogv

# MP4 video
AddType video/mp4 .mp4

# Webm video
AddType video/webm .webm
